<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <count></count>
        <count></count>
        <count></count>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        Vue.component("count",{
            data(){    // data of component must be function not like data : { count : 0}     
                return {
                    count : 0
                }
            },
            template : `
                <button @click.prevnet="count++">You click {{ count }} Times</button>
            `
        })
        let app = new Vue({
            el : '#app'
        })
    </script>
</body>
</html>