<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Component Form -->
    <div id="second">
        <login-form/>
    </div>


    <script src="https://unpkg.com/vue@next"></script>

    <script>
        let app = Vue.createApp({
        })

     app.component('login-form',{
            template: `
                <form @submit.prevent="submit">
                    <h1> {{title}} </h1>
                    <input type="email" v-model="email"/>
                    <input type="password" v-model="password"/>
                    <button>Log in</button>
                </form>
            `,
            data(){
                return{
                    title : "Log IN",
                    email : '',
                    password : ''
                }
            },
            methods : {
                submit(){
                    console.log(this.email,this.password)
                }
            }
        })

        app.mount('#second')

    </script>
</body>
</html>